body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: blue;
  color: white;
  border-radius: 6px;
}
.login-card h1 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: rgb(31, 7, 7);
}
